-
  const pages = [
    { href: '/', title: 'Главная'},
    { href: '/about_1.html', title: 'Компания'},
    { href: '/info/', title: 'Информация', aside:true},
    { href: '/contacts.html', title: 'Контакты'},
    { href: '/price.html', title: 'Цены'}    
  ];